{% extends 'base.html.twig' %}

{% block title %}Liste des livres{% endblock %}

{% block body %}
  <div class="row mt-4">
     {% for book in books %}
      <div class="col-md-4 text-center">
      <div class="card" style="width: 18rem;">
          <img src="{{ book.cover }}" class="card-img-top circle-rounded" alt="...">
      <div class="card-body">
    <h5 class="card-title">{{book.title}}</h5>
    <div><small>ISBN:{{ book.isbn }}</small></div>
             {% for author in book.authors %}
    <div><small>Auteur:{{ author.name }}</small></div>
             {% endfor %}
    <div><small>Les édtitions:{{ book.editor.name }}</small></div>
    <div>{{ book.editedAt|date('m-Y')}}</div>
    <div><small>Status:{{ book.status.value }}</small></div>
    <div><small>Plot:{{ book.plot }}</small></div>
    <div><small>Nombre de pages:{{ book.pageNumber }}</small></div>
       <a href="{{path('app_admin_book_show', {'id': book.id })}}" class="btn btn-outline">En savoir plus sur...</a>
  </div>
  </div>
    </div>    
     {% endfor %}
            </div>
{% endblock %}


