{% extends 'base.html.twig' %}

{% set action = app.current_route == 'app_admin_book_new' ? "Ajouter un nouveau ": "Éditer le " %}

{% block title %} {{action }} livre {% endblock %}

{% block body %}

{{ form_start(form) }}
    <div class="card text-light my-4 bg-dark">
        <div class="card-header text-center">
            {{action}} livre
        </div>
        <div class="card-body">
             {{ form_row(form.title, {'label':'Titre de l\'ouvrage:'} ) }}
             {{ form_row(form.isbn, {'label':'isbn'} ) }}
             {{ form_row(form.cover, {'label':'Couverture:'} ) }}
             {{ form_row(form.editedAt, {'label':'Edité le:'} ) }}
             {{ form_row(form.pageNumber, {'label':'Nombre de pages:'} ) }}
             {{ form_row(form.plot) }}
             {{ form_row(form.status, {'label':'Status:'} ) }}
             {{ form_row(form.authors, {'label':'Auteur(s)'} ) }}
             {{ form_row(form.editor, {'label':'Editeur:'} ) }}
            <button class="btn btn-primary">{{app.current_route == 'app_admin_book_new' ? "Publier": "Mettre à jour"}}</button>
        </div>
    </div>
{{ form_end(form) }}
{% endblock %}
